<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Junaid Shapal</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: px; right:10px;">
        <a href="//linkedin.com" class="">
            <img src="../../assets/inLogo.png" height="24" width="24" class="rounded-circle me-2">
        </a>

        <a href="//github.com" class="">
            <img src="../../assets/github.png" height="24" width="24" class="rounded-circle me-2">
        </a>

        <a href="//facebook.com" class="">
            <img src="../../assets/FB2.jpg" height="24" width="24" class="rounded-circle me-2">
        </a>
    </div>
</div>