<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1 class="mb-3">Contact Info</h1>
        <p>I can be reached at the following email: <b>junaidshapal66.gmail.com</b></p>
        <p>Feel free to connect with me on any of the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="//linkedin.com" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/inLogo.png" height="32" width="32" class="rounded-circle flex-shrink-0 me-4">
            <h3 class="mb-0">Linkedin</h3>
        </a>

        <a href="//github.com" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/github.png" height="32" width="32" class="rounded-circle flex-shrink-0 me-4">
            <h3 class="mb-0">Github</h3>
        </a>

        <a href="//facebook.com" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/FB2.jpg" height="32" width="32" class="rounded-circle flex-shrink-0 me-4">
            <h3 class="mb-0">Facebook</h3>
        </a>
    </div>
</div>